

from pyexpat.errors import messages
from django.shortcuts import render, redirect, get_object_or_404
from django.contrib.auth.decorators import login_required
from .forms import PersonaForm,ModificarPerfilForm,ModificarPersonaForm
from .models import Persona, Torneo,Categoria,Equipo
from RegistroMedico.models import AntecedenteEnfermedades  # Importar el modelo


from django.contrib.auth.decorators import login_required
from django.shortcuts import get_object_or_404, redirect, render
from .models import Persona, Torneo
from RegistroMedico.models import AntecedenteEnfermedades
from .forms import PersonaForm

@login_required
def registrar_persona(request):
    profile = request.user.profile

    # Intentamos obtener la Persona asociada al profile del usuario
    persona, created = Persona.objects.get_or_create(profile=profile)

    if created:
        print(f"Persona creada: {persona}")
    else:
        print(f"Persona encontrada: {persona}")

    # Verificamos si todos los campos importantes de la persona están completos
    campos_completos = all([
        persona.direccion,
        persona.telefono,
        persona.telefono_alternativo,
        persona.grupo_sanguineo
    ])

    # Si todos los campos están completos, redirigimos según las condiciones
    if campos_completos:
        if persona.torneo:
            # Si ya seleccionó el torneo, verificamos la categoría y equipo
            if persona.categoria and persona.equipo:
                # Verificar si ya existen antecedentes cargados
                antecedentes = AntecedenteEnfermedades.objects.filter(idfichaMedica__persona=persona).exists()
                if antecedentes:
                    return redirect('dashboard_jugador')  # Si hay antecedentes, redirigir al dashboard
                else:
                    # Aquí accedes al torneo_id para redirigir correctamente
                    torneo_id = persona.torneo.id
                    return redirect('cargar_antecedentes', torneo_id=torneo_id)  # Redirigir a cargar antecedentes
            else:
                return redirect('seleccionar_torneo_categoria')  # Redirigir a seleccionar categoría y equipo
        else:
            return redirect('seleccionar_torneo_categoria')  # Redirigir a seleccionar torneo si no está seleccionado

    # Si los campos no están completos, renderizamos el formulario para completar los datos
    if request.method == 'POST':
        form = PersonaForm(request.POST, instance=persona)
        if form.is_valid():
            form.save()
            return redirect('seleccionar_torneo_categoria')  # Redirigir al siguiente paso tras guardar
    else:
        form = PersonaForm(instance=persona)  # Formulario para editar la Persona existente

    # Pasamos 'persona' y 'profile' al contexto
    context = {
        'form': form,
        'persona': persona,
        'profile': profile,
    }
    return render(request, 'persona/registrar_persona.html', context)


""" 
@login_required
def registrar_persona(request):
    profile = request.user.profile

    # Intentamos obtener la Persona asociada al profile del usuario
    try:
        persona = Persona.objects.get(profile=profile)
        print(f"Persona encontrada: {persona}")
    except Persona.DoesNotExist:
        # Si no está asociado a una persona, creamos una instancia vacía de PersonaForm
        if request.method == 'POST':
            form = PersonaForm(request.POST)
            if form.is_valid():
                # Creamos una nueva instancia de Persona con los datos del formulario
                nueva_persona = form.save(commit=False)
                nueva_persona.profile = profile  # Asociamos el profile
                nueva_persona.save()  # Guardamos la nueva instancia en la base de datos
                return redirect('seleccionar_torneo')  # Redirigir al siguiente paso tras guardar
        else:
            form = PersonaForm()  # Formulario vacío para crear una nueva Persona

        # Renderizamos el formulario para registrar persona
        return render(request, 'persona/registrar_persona.html', {
            'form': form,
            'profile': profile,
        })

    print(f"Profile encontrado: {profile}")

    # Verificamos si todos los campos importantes de la persona están completos
    campos_completos = all([
        persona.direccion, 
        persona.telefono, 
        persona.telefono_alternativo, 
        persona.grupo_sanguineo
        
    ])
    
    # Si todos los campos están completos, redirigimos a 'seleccionar_torneo'
    if campos_completos:
        if persona.torneo:
            # Si ya seleccionó el torneo, redirigimos a seleccionar categoría y equipo
            if persona.categoria and persona.equipo:
                return redirect('dashboard_jugador')  # Redirigimos al dashboard si todo está completo
            else:
                return redirect('selecciona_categoria_equipo')  # Redirigir a seleccionar categoría y equipo
        else:
            return redirect('seleccionar_torneo')  # Redirigir a seleccionar torneo si no está seleccionado
    
    # Si los campos no están completos, renderizamos el formulario para completar los datos
    if request.method == 'POST':
        form = PersonaForm(request.POST, instance=persona)
        if form.is_valid():
            form.save()
            return redirect('seleccionar_torneo')  # Redirigir al siguiente paso tras guardar
    else:
        form = PersonaForm(instance=persona)

    # Pasamos 'persona' y 'profile' al contexto
    context = {
        'form': form,
        'persona': persona,
        'profile': profile,
    }
    return render(request, 'persona/registrar_persona.html', context)



    
  




@login_required
def seleccionar_torneo(request):
    profile = request.user.profile
    persona = get_object_or_404(Persona, profile=profile)
  
    # Verifica si la persona se encuentra correctamente

    if request.method == 'POST':
        torneo_id = request.POST.get('torneo')
        print(f"Torneo ID recibido: {torneo_id}")  # Para verificar el ID recibido
        if torneo_id:  # Asegúrate de que el torneo_id no esté vacío
            torneo = get_object_or_404(Torneo, id=torneo_id)
            persona.torneo = torneo
            persona.save()
            print(f"Torneo guardado: {persona.torneo}")  # Verifica que se guarda correctamente
            return redirect('selecciona_categoria_equipo')  # O redirige a otra página según lo necesites

    # Obtener la lista de torneos disponibles
    lista_torneos = Torneo.objects.all()

    # Renderiza la plantilla con la lista de torneos y la persona
    return render(request, 'persona/seleccionar_torneo.html', {'persona': persona, 'torneos': lista_torneos})

def jugador(request):
    return render(request, 'persona/jugador.html')


def seleccionar_categoria_equipo(request):
    profile = request.user.profile
    persona = get_object_or_404(Persona, profile=profile)
    print(f"Persona encontrada: {persona.torneo}")
    # Verificar que la persona ya tiene un torneo seleccionado
    if not persona.torneo:
        messages.error(request, "Debes seleccionar un torneo primero.")
        return redirect('seleccionar_torneo')  # Redirige si no tiene un torneo seleccionado

    # Filtrar categorías y equipos del torneo seleccionado por la persona
    categorias = Categoria.objects.filter(torneo=persona.torneo)
    equipos = Equipo.objects.all()

    if request.method == 'POST':
        categoria_id = request.POST.get('categoria')
        equipo_id = request.POST.get('equipo')

        if categoria_id and equipo_id:
            categoria = get_object_or_404(Categoria, id=categoria_id)
            equipo = get_object_or_404(Equipo, id=equipo_id)
            persona.categoria = categoria
            persona.equipo = equipo
            persona.save()
            messages.success(request, f"Categoría '{categoria.nombre}' y equipo '{equipo.nombre}' seleccionados correctamente.")
            return redirect('dashboard_jugador')  # Redirige a la página que necesites

    return render(request, 'persona/selecciona_categoria_equipo.html', {
        'persona': persona, 
        'categorias': categorias, 
        'equipos': equipos
    })
     """
     
     
@login_required
def seleccionar_torneo_categoria(request):
    profile = request.user.profile
    persona = get_object_or_404(Persona, profile=profile)

    # Obtener la lista de torneos disponibles
    torneos = Torneo.objects.all()

    # Obtener la lista de todos los equipos disponibles
    equipos = Equipo.objects.all()  # Todos los equipos de la base de datos

    # Verificar si se ha seleccionado un torneo y categoría
    if request.method == 'POST':
        torneo_id = request.POST.get('torneo')
        categoria_id = request.POST.get('categoria')
        equipo_id = request.POST.get('equipo')  # Obtener el equipo seleccionado

        if torneo_id and categoria_id and equipo_id:
            torneo = get_object_or_404(Torneo, id=torneo_id)
            categoria = get_object_or_404(Categoria, id=categoria_id)
            equipo = get_object_or_404(Equipo, id=equipo_id)

            persona.torneo = torneo
            persona.categoria = categoria
            persona.equipo = equipo  # Asegúrate de que el modelo Persona tiene este campo
            persona.save()
            messages.success(request, f"Torneo '{torneo.nombre}', categoría '{categoria.nombre}' y equipo '{equipo.nombre}' seleccionados correctamente.")
            return redirect('dashboard_jugador')  # Redirige a la página que necesites

        messages.error(request, "Por favor, selecciona un torneo, una categoría y un equipo.")

    # Filtrar categorías por torneos
    categorias = Categoria.objects.all()  # Asegúrate de filtrar adecuadamente si es necesario

    return render(request, 'persona/seleccionar_torneo_categoria.html', {
        'persona': persona,
        'torneos': torneos,
        'categorias': categorias,
        'equipos': equipos  # Pasamos la lista de todos los equipos
    })

     
@login_required
def modificar_perfil(request):
    # Obtener la instancia de Profile y Persona asociada al usuario
    profile = request.user.profile
    persona = Persona.objects.get(profile=profile)

    if request.method == 'POST':
        # Crear formularios con los datos enviados
        form_profile = ModificarPerfilForm(request.POST, instance=profile)
        form_persona = ModificarPersonaForm(request.POST, instance=persona)

        # Verificar si ambos formularios son válidos
        if form_profile.is_valid() and form_persona.is_valid():
            form_profile.save()
            form_persona.save()
            return redirect('dashboard_jugador')  # Redirigir a una página de perfil después de guardar
    else:
        form_profile = ModificarPerfilForm(instance=profile)
        form_persona = ModificarPersonaForm(instance=persona)

    context = {
        'form_profile': form_profile,
        'form_persona': form_persona,
    }
    return render(request, 'persona/modificar_perfil.html', context)


@login_required
def dashboard_jugador(request):
    # Obtener el perfil del usuario logueado
    profile = request.user.profile
    
    # Intentar obtener la Persona asociada al profile del usuario
    try:
        persona = Persona.objects.get(profile=profile)
    except Persona.DoesNotExist:
        # Manejo si la Persona no existe, puedes redirigir o mostrar un mensaje
        return redirect('registrar_persona')

    # Obtener antecedentes de enfermedades asociados a la persona
    antecedentes = AntecedenteEnfermedades.objects.filter(idfichaMedica__persona=persona)

    # Pasar el contexto necesario a la plantilla
    context = {
        'persona': persona,
        'profile': profile,
        'antecedentes': antecedentes,  # Agrega los antecedentes aquí
    }
    
    return render(request, 'persona/dashboard_jugador.html', context)
