{% extends 'core/base.html' %}

{% load static %}
<br>
<br>
{% block title %}Contraseña Cambiada{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center shadow-sm p-4 mb-5 bg-white rounded">
                <div class="card-body">
                    <h1 class="display-4 text-success mb-4">¡Contraseña Cambiada!</h1>
                    <p class="lead">Tu contraseña ha sido cambiada exitosamente.</p>
                    <p class="text-muted">Ahora puedes iniciar sesión con tu nueva contraseña.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-3">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Enlace a Bootstrap JS (opcional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
